<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <display-name>FrontController</display-name>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>by.tc.web.controller.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpPage</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Account</servlet-name>
        <jsp-file>/WEB-INF/jsp/account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <jsp-file>/WEB-INF/jsp/edit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/mainpage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AdministratorDrivers</servlet-name>
        <jsp-file>/WEB-INF/jsp/administrator/drivers.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministratorDrivers</servlet-name>
        <url-pattern>/admin/drivers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdministratorUsers</servlet-name>
        <jsp-file>/WEB-INF/jsp/administrator/users.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministratorUsers</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdministratorAdmins</servlet-name>
        <jsp-file>/WEB-INF/jsp/administrator/admins.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministratorAdmins</servlet-name>
        <url-pattern>/admin/admins</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>DriverSignup</servlet-name>
        <jsp-file>/WEB-INF/jsp/driverSignup.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverSignup</servlet-name>
        <url-pattern>/driversignup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdministratorOrders</servlet-name>
        <jsp-file>/WEB-INF/jsp/administrator/orders.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministratorOrders</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DriverOrders</servlet-name>
        <jsp-file>/WEB-INF/jsp/driverOrders.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>DriverOrders</servlet-name>
        <url-pattern>/driverorders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AboutPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/about.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AboutPage</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServicesPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/services.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServicesPage</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContactsPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/contacts.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ContactsPage</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FinishOrder</servlet-name>
        <jsp-file>/WEB-INF/jsp/finishOrder.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>FinishOrder</servlet-name>
        <url-pattern>/finish</url-pattern>
    </servlet-mapping>

    <filter>
    <filter-name>AdminUrlFilter</filter-name>
    <filter-class>by.tc.web.filter.AdminUrlFilter</filter-class>
    </filter>
    <filter-mapping>
    <filter-name>AdminUrlFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!--<filter>-->
        <!--<filter-name>AccountUrlFilter</filter-name>-->
        <!--<filter-class>by.tc.web.filter.AccountFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AccountUrlFilter</filter-name>-->
        <!--<servlet-name>FrontController</servlet-name>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
        <!--<filter-name>DriverFilter</filter-name>-->
        <!--<filter-class>by.tc.web.filter.DriverFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>DriverFilter</filter-name>-->
        <!--<servlet-name>FrontController</servlet-name>-->
    <!--</filter-mapping>-->






</web-app>